/* Sets the background colour to a gradient. Includes support for multiple browsers. */
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29323c+0,485563+100 */
  background: #29323c; /* Old browsers */
  background: -moz-linear-gradient(bottom,  #29323c 0%, #485563 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  #29323c 0%,#485563 100%); /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to top, #29323c 0%,#485563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29323c', endColorstr='#485563',GradientType=0 ); /* IE6-9 */
}

#dbPage.container {
  max-width: 400px;
  width: 100%;
  padding: 5% 0;
  position: relative;
}

#dbForm h1 {
  display: block;     
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
  color: black;
}

#dbForm {
  background-color: white;
  padding: 5%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

#dbForm input,
#dbForm textarea {
  box-sizing: border-box;
  border: none;
  width: 100%;
  resize: none;
  background-color: white;
  padding: 10px;
}

#dbForm input {
  height: 35px;
}

#dbForm textarea {
  height: 100px;
}

#dbForm input:focus,
#dbForm textarea:focus {
  outline: none;
}

#dbForm ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dbForm li {
  min-width: 100%;
  border-style: hidden hidden solid;
  border-width: 2px;
  margin: 0 0 20px;
  padding: 0;
  border-color: rgba(192, 192, 192);
}

nav .nav-link.active {
  color: #ffffff!important;
}

nav .nav-link, nav .navbar-brand {
  color: white;
}

.footer, footer .nav-link.px-2 {
  color: white;
}

footer .nav-link.px-2:hover {
  color: #708090;
}