body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29323c+0,485563+100 */
  background: #29323c; /* Old browsers */
  background: -moz-linear-gradient(bottom,  #29323c 0%, #485563 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  #29323c 0%,#485563 100%); /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to top, #29323c 0%,#485563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29323c', endColorstr='#485563',GradientType=0 ); /* IE6-9 */
}

#contact-page.container {
  max-width: 400px;
  width: 100%;
  padding: 5% 0;
  position: relative;
}

#contact h1 {
  display: block;     
  margin-top: 0px;
  margin-bottom: 15px;
  /* font-family: Arial, sans-serif; */
  font-weight: 400;
  /* color: rgb(124, 124, 124); */
  color: black;
}

#contact {
  background-color: white;
  padding: 5%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

#contact input,
#contact textarea {
  box-sizing: border-box;
  border: none;
  width: 100%;
  resize: none;
  background-color: white;
  padding: 10px;
}

#contact input {
  height: 35px;
}

#contact textarea {
  height: 100px;
}


#contact input:focus,
#contact textarea:focus {
  outline: none;
}

/* #contact button {
  display: inline-block;
  text-align: center;
  width: 100%;
  border: none;
  background-color: #0D6EFD;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  line-height: 0px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-weight: 500;
} */

/* #contact button:hover {
  background-color: #0098E6;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
} */

#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contact li {
  min-width: 100%;
  border-style: hidden hidden solid;
  border-width: 2px;
  margin: 0 0 20px;
  padding: 0;
  border-color: rgba(192, 192, 192);
}

/* #splash-button {
  background: #536F8F;
  border-color: var(--bs-secondary);
}

#splash-button:hover {
  background: var(--bs-btn-hover-bg);
} */

.nav-link.active {
  color: #02040f!important;
}

.footer, footer .nav-link.px-2 {
  color: white;
}

nav .nav-link, nav .navbar-brand {
  color: white;
}